# MQTT Broker Configuration
MQTT_BROKER=mosquitto
MQTT_PORT=1883

# Authentication Credentials
MQTT_USERNAME=your_username_here
MQTT_PASSWORD=your_password_here

# Subscriber Configuration
MQTT_TOPICS=controller/telemetry

# Device Configuration
DEVICE_ID=your_device_id_here